* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(135deg, #FFDDA1, #F7AEF8, #B388EB, #8093F1, #72DDF7);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.tittle {
    color: white;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 2rem;
}

.paragraph {
    color: white;
}

.p-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 2rem;
}

.task-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 2px #ffffff solid;
    width: 30vw;
    min-height: 400px;
    box-shadow: 0px 0px 40px rgb(209, 205, 231);
}

.input-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    height: 30px;
    width: 20vw;
    border-radius: 5px;
    border-color: #ffffff;
    margin-bottom: 10px;
    border: 0;
    text-indent: 10px;
}

#buttonTask {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 0;
}

.number-container {
    margin-top: 10px;
    background-color: white;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-bottom: 10px;
    border-radius: 3px;
}

.list {
    list-style: none;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: auto;
    height: 2vw;
    align-items: center;
}

.footer-text {
    color: white;
    font-size: 1.4rem;
}

.done {
    text-decoration: line-through;
}

.check {
    margin: 5px 5px 5px 15px;
}

.toDo {
    display: flex;
    align-items: center;
}

.text {
    font-size: 1.8rem;
}